<table class=" table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th colspan="2">Numeros random</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= childMsg %></td>
        </tr>
    </tbody>
</table>